$white: #fff;
$black: #000;
$light-grey: #808080;
$light-grey-2: #a5a5a5;
$dark-grey: #444;

body {
  margin: 0;
  padding: 0;
  color: $light-grey;
  font-family: Arial;
  font-size: 16px;
}

header {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
  height: 58px;
}

footer {
  background: #222;
  color: $white;
  line-height: 1.2;
}

p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $light-grey;
  text-decoration: none;
  transition: all 0.2s ease;
  &:hover {
    color: $dark-grey;
  }
}

ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
.header {
  &__logo {
    display: inline-block;
    padding: 2px 15px;
    .logo {
      display: block;
      max-width: 200px;
      height: auto;
    }
  }
  &__menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    .menu {
      &__list {
        display: flex;        
        }
      &__item {
        padding: 25px 8px;
        font-weight: bold;        
      }
      &__link {
        padding: 0 10px;        
      }
    }
    .menu__search {
      margin: 1px 20px 0 20px;
      .search_inner {
        width: 100%;
        padding: 9px;
        margin: 13px 0;
        display: inline-block;
        border: 1px solid $light-grey-2;
        border-radius: 6px;
        box-sizing: border-box;
        font-size: 100%;
      }
    }
  }
}

.container {
  &__banner {
    display: block;
    position: relative;
    .banner {
      &__slogan {
        display: block;
        width: 100%;
        max-height: 470px;
        object-fit: cover;
      }
      &__headline {
        line-height: 1.2;
        position: absolute;
        top: 48px;
        left: 16px;
        width: 50%;
        border-radius: 6px;
        background: rgba(0, 0, 0, 0.5);
        color: $white;
        padding: 15px;
        font-size: 41.6px;
      }
    }
  }
  &__content {
    max-width: 80em;
    margin: 0 auto;
    padding: 16px;
    .content {
      &__tour {
        padding-bottom: 16px;
        .tour {
          &__list {
            display: flex;
          }
          &__post {
            padding: 0.5em;
          }
          &__link {
            display: inline-block;
            margin-bottom: 8px;
            position: relative;
            overflow: hidden;
            border-radius: 6px;
            &:hover {
              .tour__headline {
                padding-bottom: 2rem;         
              }
            }
          }
          &__image {
            display: block;
          }
          &__headline {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            padding: 8px;
            color: $white;
            font-size: 1.4rem;
            transition: all 0.2s ease;
          }
        }
      }
      &--two-col {
        flex-direction: row;
        display: flex;
        padding-top: 16px;
      }
      .blog, .hiker {
        &__section-title {
          position: relative;
          color: #222;
          margin-bottom: 24px;
          &:after {
            content: "";
            display: block;
            position: absolute;
            width: 2rem;
            height: 0.3rem;
            top: 30px;
            left: 1px;
            background: #5C832F;
          }
        }
        &__item-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
        }
        &__view-more {
          position: relative;
          background: none;
          border: none;
          font-style: normal;
          font-weight: bold;
          font-size: 1.2rem;
          &:after {
            position: absolute;
            content: "";
            height: 20px;
            width: 20px;
            background: url(https://demo.patternlab.io/images/icon-arrowhead.svg) no-repeat;
            top: 7px;
            right: -26px;
            transition: all 0.2s ease;
          }
          &:hover {
            color: $dark-grey;
          }
          &:hover:after, &:focus:after {
            right: -28px;
          }            
        }
      }

      &__blog {
        width: 70%;
        padding-right: 1em;
        .blog {
          position: relative;
          margin: 0 0 2em;
          display: block;
          &__item {
            margin-bottom: 2em;
          }
          &__item-link {
            display: flex;
            &:hover {
              .blog__item-title, .blog__item-excerpt {
                color: $black;
              }
            }
          }
          &__item-image {
            border-radius: 6px;
            width: 50%;
            max-width: 11em;
            margin-right: 1.5rem;
          }
          &__item-title {
            margin-bottom: 0.2em;            
            transition: all 0.2s ease;
            color: #595959;
          }
          &__item-excerpt {            
            transition: all 0.2s ease;
            color: #a5a5a5;
          }          
        }
      }
      
      &__hiker {
        width: 30%;
        padding: 0 0 0 1em;
        .hiker {
          display: flex;          
          flex-direction: column;
          position: relative;
          margin: 0 0 2em;
          &__item {
            margin-bottom: 2em;
          }
          &__item-link {
            display: flex;
            transition: all 0.2s ease;
            &:hover {
              .hiker__item-name, .hiker__item-ddress {
                color: $black;
              }
            }
          }
          &__item-avatar {
            max-width: 3.5em;
            margin-right: 0.5rem;
            width: 20%;
            border-radius: 6px;
          }
          &__item-name {
            font-size: 1rem;
          }
          &__item-address {
            margin: 0;
            line-height: 1.2;
            font-size: 0.875rem;
          }
        }
      }
    }    
  }
}

.footer {
  clear: both;
  overflow: hidden;
  display: block;
  max-width: 80em;
  margin: 0 auto;
  padding: 1rem;
  &__logo {
    .logo {
      display: block;
      max-width: 200px;
    }
  }
  &__navigation {
    display: block;
    margin-right: 1rem;
    .navigation {
      &__list {
        display: flex;
        flex-direction: row;
      }
      &__item {      
      }
      &__link {
        font-weight: bold;
        display: block;
        padding: 1rem 2rem 1rem 0;
        color: $black;
        &:hover {
          color: $light-grey-2;
        }
      }
    }
  }
  &__info {
    max-width: 40em;
    color: $light-grey;
    margin-top: 0;
  }
}

